[2020-07-12 20:26] jonaslb opened #1 "Database version 65"
Hey,

I love your work, the dumped html looks very nice! It's the best "temporary" solution for people migrating Android-iOS where Signal doesn't yet provide a cross-backup solution, to look at their old messages.

Unfortunately I had to work with database version 65 instead of 23, which meant your scripts had a few errors.

I've made some very quick changes in a branch of my own, which means it n

[2020-07-13 20:24] GjjvdBurg commented on #1
Hi @jonaslb,

Thanks for letting me know, glad to hear you managed to get it to work on your version! :tada: I don't have a database dump that uses version 65, so I won't be able to test your implementation. If you'd like to add your work to this repo I'd be happy to collaborate on a PR, judging by the changes you've made it wouldn't be too complicated.

(in any case, it's great to know at least o

[2020-08-13 22:28] deadcombo opened #2 "UnicodeEncodeError: 'charmap' codec can't encode characters in position 110-115: character maps to <undefined>"
Hello, I'm getting this error.

[code]

Running on Windows 10. Thank you for taking the time here, looks quite nice.

[2020-08-13 23:13] GjjvdBurg commented on #2
Hi @deadcombo, thanks for letting me know about this. I've never tested the program on a Windows machine so it's quite possible that's a factor. I've just pushed a potential fix to the [bugfix/encoding](https://github.com/GjjvdBurg/signal2html/tree/bugfix/encoding) branch. If you know how to install a package from GitHub it would be great if you can try it out to see if that solves the problem.

[2020-08-24 18:53] GjjvdBurg commented on #2
Thanks for letting me know that the first problem was solved, I'll update the package when we have this one sorted out too. Just to clarify what's going on here, could it be the case that this message quotes someone who is not in your contacts or in your signal threads?

I've created a new branch [bugfix/quote_author](https://github.com/GjjvdBurg/signal2html/tree/bugfix/quote_author) with an attem

[2020-08-28 14:36] deadcombo commented on #2
` Just to clarify what's going on here, could it be the case that this message quotes someone who is not in your contacts or in your signal threads?`

Well, that was a text from myself, so it's probably something like that. I can't check because signal2html hasn't gotten to it yet, have a new bug:

[code]

I'm able to replicate it in WSL.

Thanks for the support.

[2020-08-28 16:09] GjjvdBurg commented on #2
Huh, that's strange, that line (204) is called before the previous error with the quoted message. So it worked before but now doesn't anymore. Is the database file corrupt perhaps? You can try opening the ``.sqlite`` file in a program such as [sqlitebrowser](https://github.com/sqlitebrowser/sqlitebrowser) or [dbeaver](https://dbeaver.io/) to check if it has a ``thread`` table.

[2020-08-30 15:10] deadcombo commented on #2
Hmm, I just extracted the backup again and it works again. I think it got to all my messages, at least the ones I cared.

However, I've no attachments in the threads:
`
C:\Users\win\AppData\Local\Programs\Python\Python38-32\lib\site-packages\signal2html-0.1.0-py3.8.egg\signal2html\core.py:107: UserWarning: Warning: couldn't find attachment C:\Users\win\Desktop\Backups\Signal\RAWBAK\Attachment_239_

[2020-08-30 15:35] GjjvdBurg commented on #2
Glad it works again. Yes, with missing attachments a warning will be generated and this generally corresponds to deleted attachments.

I'm not quite sure why the attachments don't load though. It *might* have to do with the way local files are loaded. Currently the path to the attachments is simply embedded in the HTML. What you could try is to edit the generated HTML file and add the text ``file:

[2020-11-14 22:42] 70nyIT commented on #1
@GjjvdBurg as of now I have database version 80 and it's not working with your code. Instead, I tested the fork of @jonaslb and it's working. I have Android, and I tested it both on Windows and Linux environments and it's working great. Hope you can merge the edits in your main tool!
One more suggestion: why not copying all the attachments in the output of your tool, and put local references to th

[2020-11-15 13:18] GjjvdBurg commented on #1
Hi @70nyIT and @jonaslb, I've now merged the edits by @jonaslb into the main package (see the PR #3). I've tried to make it backwards compatible to my original version and tested it to make sure it works on that. I'd appreciate it if either one of you could test the code in the PR branch to ensure that it works on your backups as well.

@70nyIT Copying the attachments to the output directory is a

[2020-11-16 08:55] 70nyIT commented on #1
hey @GjjvdBurg , thanks for your reply! I will take time today to test it and will report my tests results here 😉

[2020-11-18 14:08] 70nyIT commented on #1
Tested and it's working properly ;)

[2020-11-18 14:34] #1 closed

[2020-11-18 14:40] GjjvdBurg commented on #1
Great, thanks! Merged and released!

[2021-01-08 09:38] Otto-AA opened #5 "recipient_id is int in db verison 85"
The model for RecipientId expects `RecipientId._id` to be a string, however an integer value is used. I've only tested it with db version 85, I don't know if this is due to a change in the database schema.

Here is the current thread table which contains the `recipient_ids` column used:

[code]

Because of this I had to comment out this line to make it work for groups: https://github.com/GjjvdBurg

[2021-01-21 18:20] #5 closed

[2021-01-21 18:22] GjjvdBurg commented on #5
Hi @Otto-AA, thanks for reporting this and apologies for the slow response. I think I've fixed it now in master, and I'll prepare a release soon. If it's not too much trouble it would be great if you could confirm whether the update works (if it does, I can add version 85 to the list of tested versions). Thanks!

[2021-01-21 20:44] GjjvdBurg commented on #2
Closing due to inactivity, please reopen the issue if the problem persists.

[2021-01-21 20:44] #2 closed

[2021-02-16 15:45] th1l6f opened #7 "Relative URLs to attachments"
First: thank you very much for creating this project! It's a very nice solution to preserve messages.

I was surprised about the absolute paths to attachments in the generated html. I moved the generated documents, which broke all references. All attachments get copied to a certain place. So, it would be easy to switch to relative urls. It seems like the logic is perfectly localized in get_attachm

[2021-02-16 16:15] #7 closed

[2021-02-16 16:21] GjjvdBurg commented on #7
Thanks for reporting this issue @th1l6f! I've just fixed this and will update the package on PyPI asap.

[2021-02-24 10:54] einstyle opened #9 "ModuleNotFoundError: No module named 'dataclasses'"
Traceback (most recent call last):
  File "d:\program files\python\python36\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "d:\program files\python\python36\lib\runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "D:\Program Files\Python\Python36\Scripts\signal2html.exe\__main__.py", line 4, in <module>
  File "d:\program files\python\python36\lib\

[2021-02-24 13:06] GjjvdBurg commented on #9
Ah I see dataclasses was only added to the standard library starting with Python version 3.7. You can install a backport from PyPI though: ``pip install dataclasses``. Please let me know if that solves the issue

[2021-02-24 13:39] GjjvdBurg commented on #9
fixed in v0.1.5

[2021-02-24 13:39] #9 closed

[2021-04-13 21:50] trevdan88 opened #12 "Issue on line 214 core.py"
There is an issue with the parameter list passed on line 214 in core.py

Does the solution work on database version 90

[2021-04-13 21:56] GjjvdBurg commented on #12
Can you tell me the exact error you're seeing? I've never tested it on database version 90, so I can't be sure that it works.

[2021-04-14 03:52] trevdan88 commented on #12
The error says missing ‘phone’

The same method is used further down in the same file, but has an additional argument at the end, phone = phone.

[2021-04-14 03:53] trevdan88 commented on #12
Also is database 90 on the roadmap? Any expected dates.

[2021-04-14 13:08] GjjvdBurg commented on #12
I think I found the mistake. I've just updated the package to version 0.1.7, can you update and see if this fixes the error?

Regarding version 90, the program currently only prints a warning for untested versions and proceeds anyway. If there's a crash or bad results, a fix may be needed, but if not then you can just ignore the warning. Also note the [disclaimer in the readme](https://github.com/

[2021-04-14 17:20] ericthegrey opened #13 "Some attachments do not behave well in Firefox"
Attachments do not always behave well in Firefox and do not open a 'file save' dialog.
- PDF files (application/pdf) when handled internally
- XML files

This is likely due to the extension being 'bin' for all files. The solution is expected to be to copy the attachment into the output using:
- The provided file name if available (see filename column in part table) (taking care not to clobber, e.g

[2021-05-01 12:41] zagl opened #17 "Encrypted status messages"
Status messages like "You created the group" or "You changed the avatar" appear in the thread but encrypted.

![Encrypted](https://user-images.githubusercontent.com/5967081/116782423-42a0ad80-aa89-11eb-9bf6-88c9fe06beb6.png)

The best solution would be if it was possible to decrypt these messages. But I guess this will not be simple or may even be impossible.

The most simple solution might be to

[2021-05-02 16:14] GjjvdBurg commented on #17
Hi @zagl, thanks for reporting this issue. I know about this problem but it has honestly never really bothered me since it's usually just one message per group if I recall correctly.

Since the decryption doesn't happen here it might be better to see if [signalbackup-tools](https://github.com/bepaald/signalbackup-tools) could fix it. If not, I'd be happy to consider your fix of course

[2021-05-02 17:39] zagl commented on #17
I have some longer groups where such messages appear quite often.
I guess it also wouldn't bother me if it didn't break the layout result in an unnecessary horizontal scroll bar.

Another solution would be to style the message <pre> tags with `word-wrap: break-word`.

[2021-05-09 17:52] ericthegrey commented on #17
This is not encryption. It's base64 encoding of protobuf messages. I have started some work to make the messages more meaningful (the test to detect these involves some special bits of the _type field).

[2021-05-12 23:00] GjjvdBurg commented on #12
Closing due to inactivity, please reopen if the issue persists.

[2021-05-12 23:00] #12 closed

[2021-05-20 19:24] GjjvdBurg opened #22 "Potential trailing underscores on thread name"
Thread names can have trailing underscores, for instance when a thread ends in a emoji that is stripped out.

[2021-05-20 19:26] GjjvdBurg opened #23 "Date change divs have the same id"
When the date changes we insert a small div with the new date, these now all get the same ``id`` attribute (namely: ``msg-``).

[2021-06-27 16:23] #23 closed

[2021-06-27 20:17] #22 closed

[2021-06-29 15:58] GjjvdBurg opened #28 "Split large conversations into multiple files"
Suggested by @ma-phi via email. For long conversations it might be nice to optionally separate conversations into multiple HTML files such that they load faster when viewed in the browser. If we do this it would be helpful to show the start date in the filename.

A simple way to do this would be to add a ``--max-msg`` or ``--thread-length`` flag to the UI and split the messages into chunks just be

[2021-07-04 14:53] #17 closed

[2021-07-04 20:11] shamwow27 opened #30 "Troubleshooting signal2html execution"
Having trouble processing the signal_backup to signal_html. I apologize if this is user error but I figured it might be a bug? Any help is appreciated. I have my signal_backup/ and signal_html/ directories within my Python39/ directory. Executing the signalbackup-tools_win.exe and creating a decrypted backup seemed to have went perfect, beforehand.

[code]

[2021-07-05 12:31] egecelikci commented on #30
I am also facing the same error. I hope the logs help.
[code]

[2021-07-05 12:35] GjjvdBurg commented on #30
@ericthegrey do you have a chance to look at this? It seems to occur in the new addressbook class. The trivial fix is probably easy but as it is in a part of the code that is "not expected to happen" I'm not sure if there is more going on. If you don't have time I can try to take a stab at it of course.

[2021-07-07 01:37] ChemoCosmo commented on #30
Not sure if related but the process fails with my current Backup (Database-Version 102) as well:
[code]
Worked with a (much) older one.

[2021-07-07 11:04] GjjvdBurg commented on #30
@ChemoCosmo thanks for letting me know. Judging from the traceback your problem is different than the others (see #31).

[2021-07-08 20:51] ericthegrey commented on #30
Hi @GjjvdBurg I think the "obvious fix" is needed anyway, but I'm also surprised to see this. Perhaps something there is something different causing this in newer database versions. I will try a new backup over the week-end and check whether I can reproduce.

[2021-07-08 20:55] shamwow27 commented on #30
Thanks for your help.

[2021-07-09 12:52] GjjvdBurg commented on #30
Thanks @ericthegrey, much appreciated!

[2021-07-11 23:13] ericthegrey commented on #30
Unfortunately my backup didn't have any issue, so we're left with the simple code fix, scheduled for the next release. Hopefully this solves the immediate problem for the people affected. I would appreciate any hint why the affected thread has no contact data (you should see it as `#1` in the listing (where '1' is the ID from the message `Recipient with rid 1 not in addressbook, adding it.`).

[2021-07-12 00:41] shamwow27 commented on #30
Fixed worked for me, thank you!

[2021-07-12 15:52] egecelikci commented on #30
reinstalled with `pip install git+https://github.com/GjjvdBurg/signal2html@bugfix/rid_not_found`. the problem is solved for me too, thanks for your help. :pray:

[2021-07-15 15:37] GjjvdBurg commented on #30
Great to hear this was fixed, thanks for your help @ericthegrey! As mentioned, if anyone knows why the affected thread has no contact data please let us know. I'll prepare a release to update the package on PyPI right away.

[2021-07-15 15:37] #30 closed

[2021-07-21 13:18] sbaum opened #34 "Database version 110: thread table has no recipient_ids column"
Hello, I've just found signal2html, as it is exactly what I was looking for. Unfortunately, it does not work (Signal version 5.17.3 running on Android 11):
[code]
The thread table looks like that:
[code]

[2021-07-21 14:16] GjjvdBurg commented on #34
Hi @sbaum, thanks for raising this issue. I've added a bugfix in #35, but as my Signal database version isn't yet on version 110 I can't test if it works. If you could do so and let me know if it solves the issue that would be great.

[2021-07-21 16:13] sbaum commented on #34
Hi @GjjvdBurg, wow, that was quick, and the error message is gone! :slightly_smiling_face: But as I don't know, how signal2html was working with older database versions (because I didn't use it earlier), I'm not sure if this is expected:

- The recipient names don't get resolved. The folders are named `"#1"`, `"#2"` and so on. So I can't see which folder contains which conversation.
- In group cha

[2021-07-21 18:39] GjjvdBurg commented on #34
Thanks for the quick followup @sbaum! Too bad it didn't fix it fully. In that case there seems to be more going on than just the rewrite of the column name and I'll have to take a more careful look.

In case you'd like to explore it yourself, essentially what has happened is that Signal has updated the database schema (starting  [here](https://github.com/signalapp/Signal-Android/blob/0b85852621544

[2021-07-23 16:15] GjjvdBurg commented on #34
Hi @sbaum, can you check with the version in the updated PR? I think it'll work now

[2021-07-24 10:12] sbaum commented on #34
Thank you @GjjvdBurg! I just did a quick test and the problems seem to be solved. :slightly_smiling_face:

[2021-07-24 10:12] #34 closed

[2021-07-24 11:59] GjjvdBurg commented on #34
Thanks for confirming @sbaum!

[2021-07-26 16:35] sbaum opened #37 "Links in messages are not clickable"
Hi, is it intentional that hyperlinks in the messages are not clickable? If not, that could be implemented like this:

Insert these lines into html.py:
[code]
And make the links yellow for improved readability, by inserting into thread.html:
[code]

[2021-07-29 17:40] GjjvdBurg commented on #37
Thanks for suggesting this @sbaum! I've added your suggested fix in #38. I've kept the links white to match how they appear in Signal.

[2021-07-30 12:08] Aztorius opened #39 "Print contact name and phone number"
Thank you for this really useful tool !

It would be perfect if the contact name and phone number are displayed at the top of the conversation and also as the folder name.

Thanks.

[2021-07-30 12:27] GjjvdBurg commented on #39
Hi @Aztorius, thanks for reporting this. I think the folder name issue has been resolved in version 0.2.4, which I've just released. If you could update signal2html and try again to check that this is the case that would be great. Displaying the contact name in the thread itself is a good idea, so I'll leave this issue open to track that.

[2021-07-30 12:28] GjjvdBurg opened #40 "Sort out get_recipient_by_address type"
Code quality issue.

_Originally posted by @ericthegrey in https://github.com/GjjvdBurg/signal2html/pull/35#discussion_r676178875_

[2021-07-30 12:33] GjjvdBurg opened #41 "Properly align time and checkmarks on sent messages"
As noted in #33.

_Originally posted by @GjjvdBurg in https://github.com/GjjvdBurg/signal2html/issues/33#issuecomment-880825471_

[2021-07-31 08:18] sbaum commented on #37
@GjjvdBurg Thank you for adding this feature! I've checked #38 and it's working as expected.

[2021-07-31 11:07] #40 closed

[2021-07-31 13:38] GjjvdBurg commented on #37
Thanks for confirming that it works @sbaum!

[2021-08-01 08:26] Aztorius commented on #39
Thank you. I will check for the folder name issue, but it may be caused by a specific version of Signal.

[2021-08-02 15:46] #37 closed

[2021-08-04 15:26] #39 closed

[2021-08-04 15:28] #41 closed

[2021-08-07 15:17] plasticfruits opened #48 "Missing Conversations in html export folder"
I am experiencing missing conversations from the backup, getting multiple of the the following errors when running `signal2html`:

[code]

Followed by the following trace back:
[code]

Could this be an issue from the `signalbackup-tools` executable? The mentioned files seem not to have been extracted to the signal_backup folder. Has Anybody else experienced similar issues? If so I will open the is

[2021-08-07 20:46] GjjvdBurg commented on #48
Hi @plasticfruits, thanks for raising this issue and glad to hear you like the project!

The first warning you get is unrelated to the error. Sometimes we can't find an attachment (if it's been deleted for instance) but that only gives a warning and is usually not a problem. I also don't think this is an issue with ``signalbackup-tools``, as they simply decrypt and extract the backup, whereas the

[2021-08-08 10:26] ericthegrey commented on #48
Hi, did you by any chance also get an error message as follows:
`Failed to load quote mentions for message (NNN)...`

Thanks

[2021-08-09 09:44] plasticfruits commented on #48
Hi, I only got the above mentioned warnings and trace-back, no other warnings

[2021-08-09 11:18] plasticfruits commented on #48
Thanks for the quick response @GjjvdBurg! :)
I was checking the fix in #49  and I realised I was probably not clear enough explaining the issue (apologies for that!).

**Issue:**
After running `signal2html` there are missing contacts (i.e. folder with contact name) inside the `signal_html` folder. That is, no contact folder, no .html file nor attachments present.

**Other unexpected behaviour:**
W

[2021-08-09 12:07] GjjvdBurg commented on #48
Hi @plasticfruits,

You're indeed describing two different issues! :D Presumably the fix in #49 solves the trace back that you're getting?

Do these contacts have messages in Signal? Contacts without any messages are not exported.

If you are able to do some debugging, you could check the database.sqlite file in the raw backup and see if you can find the messages from the contacts that are not exp

[2021-08-09 14:59] plasticfruits commented on #48
Hi @GjjvdBurg ,

I checked `database.sqlite` and there are multiple contacts missing with messages (i filtered for threads with >10 message_count and also hard-checked one contact's messages in the sms table to make sure they are there)

Also I realised that there are some groups missing but I could not find a table in the db for group messages where I could check that they are not empty.

Unfortu

[2021-08-30 11:16] GjjvdBurg commented on #48
Hi @plasticfruits,

Apologies for the slow response, I was away for a bit.

I'm still not quite sure I understand why you're getting this error. There's essentially nothing in the code that stands out to me as a possible cause: we get the threads, populate it with messages, and then write it to html unless there are no messages.

Just to double check:
- Are you on Android or iOS?
- What is the con

[2021-09-06 09:02] plasticfruits commented on #48
Hi @GjjvdBurg,

I've also been away for a bit, hope you had a nice time out! :-)

Great news, after updating this time it worked! I must of not have updated correctly before.
Thanks for following up, it really a fantastic and very valuable tool that you have here! 🥇

[2021-09-06 09:02] #48 closed

[2021-09-07 14:32] GjjvdBurg commented on #48
Glad to hear it works now @plasticfruits!

[2021-11-02 16:01] Piermaz38 opened #50 "Database version 40 - no such column: profile_joined_name"
Hi,
I've got a problem to convert an old Signal database version.

[code]

[2021-11-15 14:39] Martin-bcd opened #51 "Error with database version 118"
Hello and thank you for your job :slightly_smiling_face:
I already ran signal2html with success but this time it's not working :confused:
I've got this :
[code]
Unfortunately I can't help more, I don't understand anythings about Python :sweat: :snake:
But I am ok to contribute with beers :beers: (or something else)

Thanks for your help :slightly_smiling_face:

[2021-11-15 14:54] Martin-bcd commented on #51
By reading database (with DB Browser for SQLite) I see the structure of the table "thread" :
```CREATE TABLE "thread" (_id INTEGER PRIMARY KEY AUTOINCREMENT, date INTEGER DEFAULT 0, thread_recipient_id INTEGER, message_count INTEGER DEFAULT 0, snippet TEXT, snippet_charset INTEGER DEFAULT 0, snippet_type INTEGER DEFAULT 0, snippet_uri TEXT DEFAULT NULL, snippet_content_type INTEGER DEFAULT NULL, s

[2021-11-16 13:14] GjjvdBurg commented on #51
Hi @Martin-bcd,

What version of signal2html are you using? From your error message above it looks like you may be using an older version. Try updating it with `pip install -U signal2html`, and let me know if that solves the problem! :)

[2021-11-17 08:18] atatat123 opened #52 "Failed to load group update data (v2) for message 10: __init__() missing 1 required positional argument: 'change'"
Hey,

I was trying out your tool but i got an error of which i hope you can help me with!

The first two conversations goes perfect, but then a group chat comes up and it generates the following error:

Found untested Signal database version: 117.
Failed to load group update data (v2) for message 10: __init__() missing 1 required positional argument: 'change'

Thanks in advance!

[2021-11-17 10:50] GjjvdBurg commented on #52
Thanks for reporting this @atatat123! Can you try installing the version in #53 and see if that fixes things? You can install it as follows:

[code]

[2021-11-17 11:45] atatat123 commented on #52
Thanks for the fast response! Unfortunate it did not solve the issue.

[2021-11-17 13:17] GjjvdBurg commented on #52
That's too bad! Can you send me the entire error message that you see?

[2021-11-18 16:00] GjjvdBurg commented on #52
I've made some further changes in #53 that might help debugging the error. If you can try installing that version again (uninstall and reinstall as above) and let me know the full error message that you get, that might help me understand what goes wrong. Thanks!

(unfortunately I can't seem to reproduce the error using my own backups)

[2021-11-18 16:07] GjjvdBurg commented on #50
Hi @Piermaz38, thanks for reporting this error. Unfortunately it seems that supporting the version of the database that you have will require quite some effort. Are you perhaps able to update the Signal version on the phone so that the database will be migrated to a newer version?

[2021-11-22 21:28] Martin-bcd commented on #51
Thanks, it seems to work :smile:
I am on Manjaro and I am used to have all my packages updated in one time with Pacman but I forgot that I installed it with pip :sweat_smile:
:+1:

[2021-11-22 21:38] Martin-bcd commented on #51
OK, As soon as I closed the issue, it failed again ! :sweat:
It worked longer but it failed :
[code]
Always the same warning on top : `Found untested Signal database version: 118.`
( I was in version 0.2.1 before and now 0.2.6)
It is a different issue but always with database version 118 so I keep the same ticket !

[2021-11-22 21:51] GjjvdBurg commented on #51
Thanks for testing this @Martin-bcd! :+1: Glad to hear we got one issue fixed at least!

It sounds like the issue you have now is the same as in #52. If you like, you can try the fix that I've suggested there to see if that solves it (that would help me to figure out the issue).

The warning about the untested Signal database version means that you're on a version that I've not tried yet, so I can

[2021-11-22 22:13] Martin-bcd commented on #51
OK. Thank.
On my previous post I said it failed and it's correct but I got lots of data and maybe it was very close to the end
This is what I am doing now :
[code]
Thank you :-)

[2021-11-22 22:15] Martin-bcd commented on #51
the first run I got a folder with : 4 624 elements, 7,3 Go
the last one : 4 624 elements, 7,3 Go
So same result

[2021-11-24 11:38] GjjvdBurg commented on #51
Thanks for the additional testing @Martin-bcd! This helps to figure out what's going on.

@ericthegrey do you have any thoughts on this? It looks like the StructuredGroupDataV2 protobuf message has changed but I'm not sure where in the Signal source this is defined. The other issue is that None data isn't handled properly, but that's more a workaround I think. Thanks!

[2021-11-24 22:57] ericthegrey commented on #51
Hi, I can't look at this in details for some time, but it looks like the top level structure of this message is different (it might encapsulate the previous one). Perhaps the data type field has been updated to indicate this, or perhaps the change is implicit in the new database version (I haven't found a content upgrade procedure, however, but I looked only briefly).

@GjjvdBurg FYI - you can fin

[2021-11-24 23:11] ericthegrey commented on #51
@GjjvdBurg - I would suggest writing some warning when outputting message data in logs, since people might not realize this could contain confidential message information when pasting it in bug reports (perhaps there could be a more confidential way to share as it turns out to be quite useful to find problems -- https://www.npmjs.com/package/cipherhub maybe).

[2021-11-25 01:00] GjjvdBurg commented on #51
Thanks @ericthegrey! That pointer helped me figure out that changing the fields to optional makes it possible to parse the change update. Also, a good point regarding the logging output, I've removed that for now and will look into other ways of sharing debug logs.

@Martin-bcd, would you mind testing the updated branch to see if this fixes the issue? You can use the same commands as in your messa

[2021-12-03 00:14] GjjvdBurg commented on #52
I've updated the package to version 0.2.7 and included a fix that I think will solve this issue. Please try it and let me know if it does! :)

[2021-12-10 07:44] th1l6f opened #56 "Add an option to filter output by date"
Hi,
thank you very much for that handy tool!

I don't want to preserve all database content, but just certain conversations. Hence I would love some options to filter, especially by date. Additionally filtering by contact/group would be nice, too.

[2021-12-11 22:38] GjjvdBurg commented on #56
Thanks for the suggestion @th1l6f! We'll take it into consideration. In the meantime, a workaround could be to manually edit the HTML and remove the messages that you don't want to keep.

[2021-12-16 15:21] prgarnett opened #57 "AttributeError: 'NoneType' object has no attribute 'by'"
2021-12-16 15:14:06 | INFO - This is signal2html version 0.2.7
2021-12-16 15:14:06 | INFO - Using database version 120.
2021-12-16 15:14:06 | WARNING - Found untested Signal database version: 120.

I think the error:
AttributeError: 'NoneType' object has no attribute 'by'

Might be caused by group chats perhaps?

[2021-12-16 18:21] GjjvdBurg commented on #57
Hi @prgarnett, thanks for reporting this issue. Can you post the full output that you see?

[2021-12-19 22:15] aweinberg38 commented on #57
I have the same issue as prgarnett
Full output below
-----
signal2html -i signal_db -o signal_output
2021-12-19 23:08:05 | INFO - This is signal2html version 0.2.7
2021-12-19 23:08:05 | INFO - Using database version 120.
2021-12-19 23:08:05 | WARNING - Found untested Signal database version: 120.
Traceback (most recent call last):
  File "/usr/local/bin/signal2html", line 8, in <module>
    sys.ex

[2021-12-20 09:30] prgarnett commented on #57
Thanks for posting that as I am away from my computer for a while.

[2021-12-20 11:39] GjjvdBurg commented on #57
Thanks for posting the error message @aweinberg38! I think the fix in #58 should do it. If either of you wants to test this, you can use the following commands:

[code]

[2021-12-20 11:46] #57 closed

[2021-12-20 11:56] GjjvdBurg commented on #57
Now implemented in version 0.2.8.

[2021-12-20 12:18] aweinberg38 opened #59 "AttributeError: 'NoneType' object has no attribute 'new_members'"
Many thanks  for 0.2.8 correcting the  attribute 'by'. Unfortunately, there are other issues.
This tile, I get

signal2html -i db -o out
2021-12-20 13:02:25 | INFO - This is signal2html version 0.2.8
2021-12-20 13:02:25 | INFO - Found Signal database version: 120.
2021-12-20 13:02:25 | WARNING - This database version is untested, please report errors.
Traceback (most recent call last):
  File "/us

[2021-12-26 11:42] aweinberg38 commented on #59
[signal2html-0.2.8-patch.txt](https://github.com/GjjvdBurg/signal2html/files/7776923/signal2html-0.2.8-patch.txt)

The attached patch solves the issue - at least for me.

[2022-01-04 20:46] markusstraub opened #60 "AttributeError: 'NoneType' object has no attribute 'name' - in get_group_update_data_v1"
[code]
... some more warnings snipped
[code]

[2022-01-19 02:52] bit-less opened #61 "BUILDSCRIPT.sh fails in Ubuntu 18.04 & 20.04.3"
For Ubuntu 20.04.3 I get this error:

![image](https://user-images.githubusercontent.com/33101456/150056759-9537dbe5-5be4-4274-a04f-64757f3152bf.png)

For Ubuntu 18.04, this is the error I had when running that script and following the install instructions on this site:

![Inked1_LI](https://user-images.githubusercontent.com/33101456/150054670-83fc866f-dbf5-451e-90e5-6ed45f29bfa8.jpg)

Based on th

[2022-01-19 03:24] bit-less commented on #61
It looks like I needed `sudo apt-get install libsqlite3-dev`, and `sudo apt-get install libsqlite3-dev` to resolve the issues.

[2022-01-19 03:24] #61 closed

[2022-01-19 05:14] bit-less opened #63 "Emoji Reactions (Currently Missing)"
### Discussed in https://github.com/GjjvdBurg/signal2html/discussions/62

<div type='discussions-op-text'>

<sup>Originally posted by **bit-less** January 18, 2022</sup>
I'm absolutely impressed with the output from this project!!  The only thing that it seems to be missing, that's really significant, is the emoji reactions, because they give context to the feeling and flow of the dialog, and are

[2022-01-25 15:42] Tulux commented on #59
I confirm the patch works

[2022-04-01 08:10] Gajusbonus opened #64 "AttributeError: 'NoneType' object has no attribute 'new_members'"
Dear GJ,
Thank you so much for this tool. The first db went very well, but another from a different phone has this issue. The reading of db finished without errors, but signal2html ended after 2 minutes with this output:

Traceback (most recent call last):

  File "/home/gajus/.local/bin/signal2html", line 8, in <module>

    sys.exit(main())

  File "/home/gajus/.local/lib/python3.8/site-packages

[2022-04-01 08:13] Gajusbonus commented on #64
Sorry, this is a duplicate issue.
Closing it now

[2022-04-01 08:13] #64 closed

[2022-04-01 10:56] Gajusbonus commented on #59
I would like to apply the patch,
downloaded signal2html-0.2.8-patch.txt to the directory where signalbackup-tools is

git apply signal2html-0.2.8-patch.txt
error: unrecognized input

? whats wrong?

[2022-04-01 12:37] Gajusbonus commented on #59
I installed with pip and I don' t know how to build signal2html  from source.

Or should I patch some file in:
/home/gajus/.local/lib/python3.8/site-packages/signal2html

[2022-04-01 22:55] GjjvdBurg commented on #59
Sorry for the slow response on this one, patch is now incorporated in signal2html version 0.2.9. Thanks for providing it @aweinberg38!

[2022-04-01 22:55] #59 closed

[2022-04-15 15:01] markusstraub commented on #60
This fixes the problem for me:

[code]

And it may probably be a good idea to also change this (though it didn't cause any problems for me)

[code]

[2022-04-20 09:51] DFGitH opened #65 "Error with database 119"
Hello,
I'm trying to use signal2html version 0.2.9 and i have a bad issue.

![2022-04-20 11_49_20-C__Windows_System32_cmd exe](https://user-images.githubusercontent.com/104067242/164201442-b17c91d5-a9cd-4e72-88e9-cd5196479fbe.png)

Have you worked on this version ?

Thanks for a solution ;)

[2022-04-20 21:40] GjjvdBurg commented on #65
What's the error you're getting?

[2022-04-21 06:11] DFGitH commented on #65
Hello,
Nothing more that the image posted in my first post: "...version is untested, please report error".
I have nothing after this and no data output.
Have you test this version?

[2022-04-23 09:16] GjjvdBurg commented on #65
Yes, I have tested this version and it works on my end. Are you not getting any threads in the output directory?

[2022-04-24 11:07] pushkar132 opened #66 "error parsing command line unknown option"
![WhatsApp Image 2022-04-24 at 5 07 04 PM](https://user-images.githubusercontent.com/77731859/164974597-3e2cceb7-12c9-467c-bf42-afe960814ea0.jpeg)

I have been using latest version of signal2html tool with ubuntu but whenever I try to extract my backup files , I get an error called " error parsing command line option". I never came across this type of error before also I have tried to extract my o

[2022-04-25 08:12] DFGitH commented on #65
Hello,
No, nothing in the output directory...maybe the backup is corrupt.
Thanks for your time.

[2022-04-25 23:13] GjjvdBurg commented on #66
This is the repository for signal2html. Your screenshot suggests you're trying to use signalbackup-tools, which is here: https://github.com/bepaald/signalbackup-tools

[2022-04-25 23:13] #66 closed

[2022-04-25 23:18] GjjvdBurg commented on #63
Emoji reactions are already available, see below. If they're not working for you, please submit a pull request.

![Screenshot from 2022-04-26 00-15-59](https://user-images.githubusercontent.com/3286696/165189750-e6d20c63-e220-482b-8ffd-fe534ec5d2a4.png)

[2022-04-25 23:19] GjjvdBurg commented on #63
Emoji reactions are already available, see below. If they're not working for you, please submit a pull request.

![Screenshot from 2022-04-26 00-15-59](https://user-images.githubusercontent.com/3286696/165189750-e6d20c63-e220-482b-8ffd-fe534ec5d2a4.png)

[2022-05-11 16:33] arulkevin opened #67 "Database Version 140 - no such column: reactions"
Hi,
I have this issue with the latest version of Signal on Android.
I am running the signalbackup-tools executable on Windows 10.

[code]
Thanks for your work

[2022-05-17 10:54] andris0131 commented on #67
Same problem on database version 141.

Thank you in advance.

[2022-05-18 20:28] GjjvdBurg commented on #67
Hi both, thanks for reporting this issue. I don't really have much time or interest to maintain this project at the moment, so please consider submitting a pull request. For this particular issue, it would require identifying the database version that introduced the schema change, and create a path in the code that gets the reaction data conditional on that version

[2022-07-17 11:01] doegox opened #69 "DB v146 KeyError: 'location'"
Hello,

I got the following error when testing signal2html on a fresh backup.

[code]

I tested with regular pip install, then with pip install -e from a git clone.

Note that to get the code working at first, I had to fix this typo:
[code]

[2022-07-21 18:07] doegox commented on #69
Some progress: I could get it running by changing the `location` key by `match_start`.
Now it dumps the HTML.
But it doesn't show the reactions. From the code it seems it was previously in mms table while it has now its own table (from what I understood from a quick look).

[2022-07-21 21:42] GjjvdBurg commented on #69
Thanks for reporting this @doegox! The reaction issue is reported [here](https://github.com/GjjvdBurg/signal2html/issues/67) as well, and would indeed require updating the table these are retrieved from

[2022-07-21 22:19] doegox commented on #67
I believe reaction got its own table at https://github.com/signalapp/Signal-Android/commit/ab55fec6bd42060e9cf2cb6e10c2dd59c611ca43
and the database version got bumped to v121 with "REACTION_REFACTOR = 121"
at https://github.com/signalapp/Signal-Android/blob/843ed24bbbbd8d0d5e482d6e77f49374bad03cfe/app/src/main/java/org/thoughtcrime/securesms/database/helpers/SignalDatabaseMigrations.kt#L180

[2022-10-10 10:29] Zofia22 opened #70 "Instructions for Noob"
Hello, I lost someone in my life and I would like to back up some important chats from Signal, otherwise, they will be gone by switching from android to iOS. Luckily I saw there might be ways to retrieve chat records, but unfortunately, I know nothing, literally nothing, about coding/scripting so I couldn't understand any of the steps.

I did my best to follow the steps...

1.
$ pip install signal

[2022-10-12 20:49] GjjvdBurg commented on #70
Hi @Zofia22, thank you for reporting this issue. I'm sorry for your loss. Let's see if I can help you get the programs to work.

First off, can you let me know what platform you're on? Is it Mac, Windows. or Linux?

From what you're reporting it seems that you've completed step 1 and 2 correctly. In the third step, the first command, `mkdir signal-backup` doesn't print anything, but should create

[2022-10-13 23:16] GjjvdBurg commented on #70
Thanks for providing the further details and the screenshot @Zofia22! By the looks of it, there's no `signalbackup-tools` program in the directory, which is why the system can't find it. This means that Step 2 above didn't actually complete as it should have.

The author of `signalbackup-tools` has provided a Windows executable program [here](https://github.com/bepaald/signalbackup-tools/releases)

[2022-10-14 01:12] Zofia22 commented on #70
@GjjvdBurg Thanks again the next steps!
I have downloaded the signalbackup-tools.exe from the link you provided, the system recognizes it as a .exe so I didn't change the file name (I tried anyway). And created the signal-backup folder

Unfortunately below are the error results still:
![Screenshot 2022-10-14 090730X](https://user-images.githubusercontent.com/115464181/195739327-519d0847-0c22-440b-

[2022-10-16 21:48] GjjvdBurg commented on #70
Hi @Zofia22, thanks for the update and the screenshot.

From what I can see from the line where you typed _just_ `signalbackup-tools`, the program is at least functional, because it prints out "signalbackup-tools (signalbackup-tools) source version 20220914.131721 (OpenSSL)". That's good to know!

I'm wondering if there's something causing `signalbackup-tools` to not be able to find the backup for

[2022-10-17 18:01] GjjvdBurg commented on #70
Hi @Zofia22, glad to hear that you made it work!

The error you're getting now is due to an error in signal2html. I've just updated the package and released a new version. To install it, you'll have to run the following command, which is similar to how you installed in the first time:
[code]
You can check whether this worked by running:
[code]
The version should be `0.2.10`. After that, you can ru

[2022-10-22 05:02] Zofia22 commented on #70
@GjjvdBurg thanks for the update! I have run the update and sorry to say there are still errors, please see below error message:

C:\Users\xxxxx\signalbackup-tools>signal2html -V
0.2.10

C:\Users\xxxxx\signalbackup-tools>signal2html -i signal_backup -o signal_html
2022-10-22 12:57:20 | INFO - This is signal2html version 0.2.10
2022-10-22 12:57:20 | INFO - Found Signal database version: 155.
2022-1

[2022-10-24 22:05] GjjvdBurg commented on #70
Thanks for letting me know @Zofia22! These errors are because the package hasn't been updated for a while, and Signal has made some changes that make the package no longer work. I'll take a look to see if I can fix this, but it might take a few weeks to find the time. Feel free to ping me if you haven't heard anything in a while.

[2022-10-31 21:43] jb261 commented on #70
I'm also interested in this project as it would be nice to have a HTML backup of my Signal chats.

[2022-11-12 20:48] GjjvdBurg commented on #70
@jb261 are you having the same issue as Zofia22?

I've updated the package to v0.2.11. This adds two checks to see if the database is available and whether it's not empty (I was only able to reproduce @Zofia22's error above with an empty database). Please update the package as above and try again, this should tell you if the database file is empty or missing. If it is empty, make sure that it was